@import '~styles/sizes';

.book-item {
  display: flex;
  margin: $default-indent;
  padding: $default-indent 0;
  border: 1px solid grey;
  border-width: 0 0 1px 0;
  cursor: pointer;

  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: $image-size-min;
    height: $image-size-min;
    margin-right: $default-indent;
    border-radius: $image-border;
  }
}